 <div class="dashboard-wrapper">  
    <h2>Welcome to Dashboard</h2>
      <p *ngIf="role === 'staff'">You are logged in as staff.</p>
      <p *ngIf="role === 'customer'">You are logged in as a customer.</p>

      <div class="dashboard-options">
        <a routerLink="/product" class="dashboard-btn">🛍️ Products</a>

        <a *ngIf="role === 'customer'" routerLink="/cart" class="dashboard-btn">🛒 View Cart</a>

        <div *ngIf="role === 'staff'">
          <a routerLink="/product/edit" class="dashboard-btn">✏️ Add Products</a>
        </div>
      </div>

      <button class="dashboard-btn" (click)="logout()">Logout</button>
  </div>